div.login-page {
  display: flex;
  width: 100vw;
  height: 90vh;
  padding-bottom: 5vh;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  overflow-y: auto;
  flex-direction: column;
  flex-wrap: nowrap;

  & > .input-container {
    display: flex;
    width: 750px;
    margin-bottom: 37px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &.first {
      margin-top: 100px;
    }

    & > .title {
      color: rgb(118, 114, 114);
    }

    & > .username, .password, .token {
      display: flex;
      width: 500px;
      height: 100px;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      padding-left: 25px;
      border: 4px solid rgb(118, 114, 114);
      color: rgb(118, 114, 114);

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 30px;
      }
    }
  }

  & > .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 100px;
    margin-top: 75px;
    margin-bottom: 25px;
    background: rgb(154, 59, 59);
    border-radius: 30px;
    cursor: pointer;
  }

  & > .button.register {
    margin-top: unset;
  }

  & > .error-message {
    height: 30px;
    color: rgb(154, 59, 59);
  }

  &.login-page.dark {
    & > .input-container {
      & > .title {
        color: rgb(198, 198, 198);
      }

      & > .username, .password, .token {
        border: 4px solid rgb(118, 114, 114);
        color: rgb(118, 114, 114);
      }
    }
  }
}
